<div class="jumbotron">
  <h1 class="text-center">Bem-vindo {{obj.nome}} </h1>
</div>




<div class="row">
  <div class="col-md-1">
    <button ng-click="incrementa()" class="btn btn-primary">Mais</button>
  </div>
  <div class="col-md-6">
    <input ng-model="filtro" type="search" placeholder="parte do nome" class="form-control">
  </div>
</div>
<p class="my-3">Contatos cadastrados: <strong>{{contatos.length}}</strong></p>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>NOME:</th>
      <th>E-MAIL</th>
      <th class="text-center">AÇÃO</th>
    </tr>
    <tr ng-repeat="contato in contatos | filter : filtro">

      <td>
        <a>{{contato.nome}}</a>
      </td>

      <td>{{contato.email}}</td>
      <td class="text-center">
        <button ng-click="remove(contato)" class="btn btn-warning">
          Remover
          </buttom>
      </td>
    </tr>
  </table>
</div>